html {
    height: 100%;
}

body {
    background: url('/media/lab.png') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Indie Flower', cursive;
}

header {
    background-color: rgb(213, 195, 173);
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
    color: #000;
    z-index: 2;
}

.display-4 {
    padding-left: 20px;
    padding-top: 20px;
}

.main-logo-link {
    width: fit-content;
    color: black;
    text-transform: uppercase;
}

.shop-now-button {
    background: rgb(189, 88, 57);
    color: white;
    min-width: 260px;
    padding-bottom: 120px;
}

.btn-black {
    background: rgb(174, 96, 47);
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: rgb(170, 99, 52);
    color: white;
}

.text-black {
    color: rgb(12, 12, 11) !important;
}

.border-black {
    border: 1px solid rgb(176, 99, 57) !important;
}

.nav-link {
    font-size: large;
}

.bg-black {
    background: #000 !important;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: beige;
    z-index: -1;
}

.product-container {
    padding-top: 200px;
}

.product-details-container, 
.image-container {
    padding-top: 200px;
}

.row-products {
    padding-top: 10px;
}

.item {
    height: fit-content;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: beige;
}

.btt-link {
    cursor: pointer;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {

}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}