<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="lotions-link">
                <a href="{% url 'products' %}?sort=category&direction=desc" class="dropdown-item">Category</a>
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">Price</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="fragrances-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Fragrances
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="fragrances-link">
                <a href="{% url 'products' %}?category=Fragrances" class="dropdown-item">All Fragrances</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="lotions-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Lotions
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="lotions-link">
                <a href="{% url 'products' %}?category=Lotions" class="dropdown-item">All Lotions</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="candles-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Candles
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="candles-link">
                <a href="{% url 'products' %}?category=Candles" class="dropdown-item">All Candles</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="soaps-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Soaps
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="soaps-link">
                <a href="{% url 'products' %}?category=Soaps" class="dropdown-item">All Soaps</a>
            </div>
        </li>
    </ul>
</div>